/* Configurações Globais e Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

:root {
    --primary-green: #145A32; 
    --input-background: #E8EDEB; 
    --light-gray-background: #F3F4F6; 
    --text-color: #4B5563; 
    --main-border-radius: 15px; 
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--light-gray-background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.main-container {
    display: flex;
    width: 900px;
    max-width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
}

.form-side {
    width: 55%;
    padding: 20px 0; 
    display: flex;
    flex-direction: column;
}

.frame-info {
    font-size: 10px;
    color: #A0A0A0;
    margin-bottom: 20px;
    margin-left: 50px; 
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px; 
}

h1 {
    color: var(--primary-green);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    align-self: center; 
    text-align: center;
}

.subtitle {
    color: var(--black);
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 30px;
    max-width: 350px;
    align-self: center; 
    text-align: center;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 350px; 
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-green);
    margin-bottom: 5px;
    text-align: left; 
}

.input-group input {
    background-color: var(--input-background);
    border: none;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 14px;
    color: #4B5563;
}

.input-group input::placeholder {
    color: #9CA3AF;
}


.register-button {
    background-color: var(--primary-green);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.register-button:hover {
    background-color: #0E4426;
}

.login-link {
    text-align: center;
    font-size: 14px;
    color: #6B7280;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 20px;
}

.login-link a {
    color: var(--black);
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.image-side {
    width: 45%;
    background: url('/edutec/edutec/imagens/33.webp') no-repeat center center; 
    background-size: cover;
    min-height: 100%;
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    overflow: hidden; 
}
